<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="../../assests/stylesheets/aplication.css">
</head>
<body>

    <%= link_to "Twittear", autos_path%>
    <% if user_signed_in? %>
        <h1>Bienvenido <%= current_user.email %> </h1>
        <h1><%= current_user.nombre%> </h1>
    
        <% if current_user.usuario? %>
            <p> Iniciaste sesiòn como usuario </p>
            <% @fotouser = Fotouser.find_by(id_user: current_user.id) %>
            <%if @fotouser == nil%>                
                <%@fotouser = Fotouser.new%>
                <%@fotouser.id_user = current_user.id%>
                <% if ! @fotouser.foto.attached? %>
                    <%= render 'fotousers/form', fotouser: @fotouser %>
                <%end%>
            <%end%>
        <% end %>

    <% else %>
        <h1>AlquilApp </h1>
    <% end %>

</body>
</html>

