<h1>Fotousers#show</h1>
<p>Find me in app/views/fotousers/show.html.erb</p>

<p> <%= @user.nombre %> </p>

<% if @fotouser.fotoDNI.attached? %>
    <%= image_tag @fotouser.fotoDNI%>    
<% end %>
<% if @fotouser.fotoDNI.attached? %>
    <%= image_tag @fotouser.fotoCarnet%>
<% end %>