<h1>Autos#new</h1>
<h1>Va dejar el auto</h1>
<p>yo quiero dejar el auto</p>
<p>quiero que la location_point sea otro pero solo lo se hacer desde un form</p>
<p>por lo que voy a hacer un reden de un form</p>
<%= render 'pos', auto: @auto %>
<p>Se puede hacer el render 'pos' en el show para que solo este y boton y listo</p>