<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durante alquiler</title>
</head>
<style>
.boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
<body>

    <% if user_signed_in? %>
        <% if current_user.usuario? %>
            <div class="boton"><%= link_to "horas extra", historial_usos_agregarHoras_path() %></div>
            <div class="boton">  <%= link_to "VER DOCUMENTACION" , autos_mostrardocumentacion_path(:id => @auto.id)  %> </div>
            <div class="boton">    <%= render 'pos', auto: @auto %> </div>
            <%if @auto.desbloqueado ==false %>
                <%= link_to "Desbloquear auto" , autos_desbloquear_path(:id => @auto.id) %>
            <%else%>
                <h5>  auto desbloqueado </h5>
            <%end%>
        <% end %>

    <% else %>
        <h1>AlquilApp </h1>
    <% end %>
