<p>anda?show</p>
<p><%=@auto.patente%></p>
<%= link_to "dejar", autos_dejar_path%>
<p><%=@auto.pos%></p>
<div>
    <% if @auto.foto.attached? %>
        <%= image_tag @auto.foto%>
    <% end %>
</div>