<h1>Editing historial uso</h1>

<%= render "horasextra", historial_uso: @historial_uso %>

<br>

<div>
  <%= link_to "Show this historial uso", @historial_uso %> |
  <%= link_to "Back to historial usos", historial_usos_path %>
</div>
