<h1>New historial uso</h1>
<%@historial_uso.auto_id = @auto_id%>
<%= render "form", historial_uso: @historial_uso %>

<br>

<div>
  <%= link_to "Back to historial usos", historial_usos_path %>
</div>
